pkgbase = libcamera
	pkgdesc = A complex camera support library for Linux, Android, and ChromeOS
	pkgver = 0.7.2
	pkgrel = 4.2
	url = https://libcamera.org/
	arch = aarch64
	makedepends = cmake
	makedepends = git
	makedepends = glib2
	makedepends = gst-plugins-base
	makedepends = gtest
	makedepends = libdrm
	makedepends = libevent
	makedepends = libgcc
	makedepends = libjpeg-turbo
	makedepends = libstdc++
	makedepends = libpisp
	makedepends = libtiff
	makedepends = libyaml
	makedepends = libyuv
	makedepends = meson
	makedepends = openssl
	makedepends = pybind11
	makedepends = python-jinja
	makedepends = python-ply
	makedepends = python-pyyaml
	makedepends = qt6-base
	makedepends = qt6-tools
	makedepends = sdl2
	makedepends = systemd
	source = git+https://git.libcamera.org/libcamera/libcamera.git#tag=v0.7.2
	source = libcamera-fix-python3.14-macro-redefinition.patch
	source = 0001-ipa-libipa-camera_sensor_helper-add-ov02c10.patch
	source = 0002-ipa-simple-agc-converge-quickly-after-stream-start.patch
	source = 0003-libcamera-software_isp-debayer_egl-compute-stats-on-the-displayed-area.patch
	source = 0004-ipa-simple-adjust-read-default-gamma-contrast-saturation-from-tuning.patch
	sha256sums = SKIP
	sha256sums = 8e8b99ff804ffd75d9bbc845dd4616edf0e0cea7c0eb175e47583b8488f33368
	sha256sums = 9e01e2cb82c120b5140345e00527c1b9362b322f79e471ba42d1bda2b5d55a13
	sha256sums = d519f2180bf297357b5c56ea3d9152e3f96e35f976dc6e60ae1f20705722aaf9
	sha256sums = 5e8ab7f0e4f373c9b7f296d89ecc72b6b0bd3a3e8c77b2a2aa4b5e6aff51c2e3
	sha256sums = efe0c1ca05644f1884cca210e292374b5e9a21cd3b5ae5af466b2a51041eda45

pkgname = libcamera
	license = Apache-2.0
	license = CC0-1.0
	license = GPL-2.0-only WITH Linux-syscall-note
	license = GPL-2.0-or-later
	license = LGPL-2.1-or-later
	license = GPL-2.0-or-later WITH Linux-syscall-note OR BSD-3-Clause
	license = GPL-2.0-or-later WITH Linux-syscall-note OR MIT
	depends = glibc
	depends = gnutls
	depends = libcamera-ipa
	depends = libelf
	depends = libgcc
	depends = libglvnd
	depends = libpisp
	depends = libstdc++
	depends = libunwind
	depends = libyaml
	depends = libyuv
	depends = sh
	depends = systemd-libs
	depends = libudev.so
	optdepends = gst-plugin-libcamera: GStreamer plugin
	optdepends = libcamera-tools: for applications
	provides = libcamera.so
	provides = libcamera-base.so

pkgname = libcamera-ipa
	pkgdesc = A complex camera support library for Linux, Android, and ChromeOS - signed IPA
	license = BSD-2-Clause
	license = CC-BY-SA-4.0
	license = CC0-1.0
	license = GPL-2.0-or-later
	license = LGPL-2.1-or-later
	depends = glibc
	depends = libcamera
	depends = libcamera.so
	depends = libcamera-base.so
	depends = libgcc
	depends = libstdc++
	options = !strip

pkgname = libcamera-tools
	pkgdesc = A complex camera support library for Linux, Android, and ChromeOS - tools
	license = BSD-2-Clause
	license = CC0-1.0
	license = GPL-2.0-or-later
	license = LGPL-2.1-or-later
	depends = glibc
	depends = gtest
	depends = libcamera
	depends = libcamera.so
	depends = libcamera-base.so
	depends = libdrm
	depends = libevent
	depends = libevent-2.1.so
	depends = libevent_pthreads-2.1.so
	depends = libgcc
	depends = libjpeg-turbo
	depends = libjpeg.so
	depends = libstdc++
	depends = libtiff
	depends = libtiff.so
	depends = libyaml
	depends = qt6-base
	depends = sdl2
	conflicts = libcamera-tests<0.0.1-2
	replaces = libcamera-tests<0.0.1-2

pkgname = gst-plugin-libcamera
	pkgdesc = Multimedia graph framework - libcamera plugin
	license = CC0-1.0
	license = LGPL-2.1-or-later
	depends = glib2
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = glibc
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = libcamera
	depends = libcamera.so
	depends = libcamera-base.so
	depends = libgcc
	depends = libstdc++

pkgname = python-libcamera
	pkgdesc = A complex camera support library for Linux, Android, and ChromeOS - Python integration
	license = CC0-1.0
	license = LGPL-2.1-or-later
	depends = glibc
	depends = libcamera
	depends = libgcc
	depends = libstdc++
	depends = python
