pkgbase = howdy-next
	pkgdesc = Modern C++ reimplementation of Howdy facial authentication on Linux (aarch64, models in howdy-next-models)
	pkgver = 3.4.2
	pkgrel = 2
	url = https://codeberg.org/nathawat/howdy-next
	install = howdy-next.install
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = cmake>=3.31
	makedepends = gettext
	depends = acl
	depends = curl>=7.85.0
	depends = glibc>=2.36
	depends = howdy-next-models
	depends = libevdev
	depends = libinih>=59
	depends = openssl
	depends = opencv>=5.0.0
	depends = pam
	depends = qt6-base
	depends = yyjson>=0.12.0
	optdepends = linux-enable-ir-emitter: Enables infrared cameras that are not directly enabled out-of-the-box
	provides = howdy
	conflicts = howdy
	conflicts = howdy-next-git
	backup = etc/howdy/config.ini
	source = howdy-next-3.4.2.tar.gz::https://codeberg.org/nathawat/howdy-next/archive/v3.4.2.tar.gz
	source = polkit-agent-helper-howdy.conf
	source = 0001-quiet-opencv-dnn-target-warning.patch
	sha256sums = e2e3afabc3d6d3fd696ec0ab6a1f144b6254449216b390be579864a6fd26c50a
	sha256sums = 2283fc4684751caa41e87023755bba5c3468475b6ed632b13a4ac6e9c748c512
	sha256sums = 09f91691afcfc02472ba3a524b8812fde7fc53213749d28028f614d9242157ae

pkgname = howdy-next
